@model WebApp.Models.Demande

@{
    ViewData["Title"] = "Create";
}

<h4>Nouvelle demande</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" id="txtNom" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" id="txtPrenom" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomSociete" class="control-label">Nom de la société</label>
                <input asp-for="NomSociete" class="form-control" id="txtSociete" />
                <span asp-validation-for="NomSociete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDemande" class="control-label">Type de demande</label>
                <select id="txtDemande" asp-for="TypeDemande">
                    <option value="Site">Site Internet</option>
                    <option value="Téléphone">Téléphone</option>
                    <option value="Email">Email</option>
                </select>
                <span asp-validation-for="TypeDemande" class="text-danger"></span>
            </div>
            <div class="form-group" id="email">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" id="txtEmail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" id="telephone">
                <label asp-for="Telephone" class="control-label">Numéro de téléphone</label>
                <input asp-for="Telephone" class="form-control" id="txtTelephone" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Date de la demande</label>
                <input asp-for="Date" class="form-control" id="txtDate" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" id="txtUserId" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="saveFile()" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
