html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: antiquewhite;
}

#heure {
    display: inline;
    float: right;
}

#btn-home, #btn-logout {
    margin-top: 6em;
}

#deconnect, #connect {
    border-left: solid black;
}

#formButton {
    margin-top: 10px;
}

.navbar {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1);
}

.footer {
    background: linear-gradient(0.25turn, #ebf8e1, #3f87a6);
}