html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: antiquewhite;
}

#heure {
    display: inline;
    float: right;
}

#btn-home {
    margin-top: 6em;
}

#formButton {
    margin-top: 10px;
}