html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ebf8e1;
}

button:not(#btn-deconnect) {
    text-shadow: 1px 0px black;
}

#btn-home, #btn-logout {
    margin-top: 6em;
    font-weight: bold;
}

#btn-demande {
    background-color: #3f87a6;
}

#deconnect, #connect {
    border-left: solid black;
}

#formButton {
    margin-top: 10px;
}

#heure {
    display: inline;
    float: right;
}

.navbar {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1);
}

.footer {
    background: linear-gradient(0.25turn, #ebf8e1, #3f87a6);
}